@page "/profile"

@inject IUserProfileService _profileService


<div class="row">
    <div class="col-md-8">
        <div class="card border-square shadow-sm p-2 mt-2">
            <h3>UserProfile</h3>
        </div>
    </div>
</div>


@code {

}
