@layout IdentityLayout
@inherits LayoutComponentBase


<div class="col-8">
    <div class="card border-square p-4">
        <div class="row">
            <div class="col-md-6">
                <img src="/images/LogoBattery.png" class="img-fluid" />
                <h1 class="text-center" style="color: steelblue">DACME Battery</h1>
            </div>
            <div class="col-md-6">
                @Body
            </div>
        </div>
    </div>
</div>
