@inject NavigationManager _navManager

@inject IBreadcrumbManager _breadcrumb
@implements IDisposable

@if (_breadcrumb.IsVisible)
{
    <nav class="border-square border shadow-sm mt-2" aria-label="breadcrumb">
        <ul class="breadcrumb border-square mb-0">
            @foreach (var link in _breadcrumb.Links)
            {
                @if (link == _breadcrumb.Links.Last())
                {
                    <li class="breadcrumb-item active">
                        @link.Label
                    </li>
                }
                else
                {
                    <li class="breadcrumb-item">
                        <a href="" aria-current="page" @onclick="@(() => GoToLink(link.Url))" @onclick:preventDefault>@link.Label</a>
                    </li>
                }
            }
        </ul>
    </nav>
}


@code {
    protected override void OnInitialized()
    {
        _breadcrumb.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        _breadcrumb.OnChange -= StateHasChanged;
    }

    private void GoToLink(string url)
    {
        _navManager.NavigateTo(url, true);
    }
}
