<AuthorizeView>
    <Authorized>
        <a class="navbar-text" href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link navbar-text btn btn-link">Logout</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a class="navbar-text mx-2" href="Identity/Account/Register">Register</a>
        <a class="navbar-text mx-2" href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
