@inherits LayoutComponentBase

<div class="page">
    @*<div class="sidebar">
            <NavMenu />
        </div>*@

    <div class="main min-fullscreen">
        <TopNavbar />
        @*<div class="top-row px-4 auth">
                <LoginDisplay />
                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>*@
        @*<BreadcrumbNav />*@
        <div class="container no-padding">
            <BreadcrumbNav />
            @Body
        </div>

        @*<nav class="navbar fixed-bottom navbar-light bg-light text-muted">
                <div class="container">
                    &copy; 2021 - BatteryApp - <a asp-area="" asp-page="Privacy">Privacy</a>
                </div>
            </nav>*@

    </div>
</div>



<style>
    .no-padding {
        padding: 0 !important;
    }
</style>