<div class="modal fade" tabindex="-1" role="dialog" id="deleteTagModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Confirm Delete</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Deleting this Tag will delete it and all associations with Charges</p>
                <p>Do you want to continue?</p>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" @onclick="Delete">Yes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

@code {


    [Parameter]
    public EventCallback<MouseEventArgs> Delete { get; set; }
}
