@foreach (var error in Errors)
{
    @foreach (var message in error.Value)
    {
        <div class="alert alert-danger" role="alert">
            @error.Key - @message
        </div>
    }
}


@code {
    [Parameter]
    public Dictionary<string, List<string>> Errors { get; set; }
}
