<span 
      style="        
        color: @UserProfile.FontColor;
        background-color: @UserProfile.BgColor;
        border-radius: 50%;
        text-align: center;
        font-size: 0.8rem;
        padding: 0.4rem;
        margin: 0.2rem;"
>
    @UserProfile.Initials
</span>


@code {
    [Parameter]
    public UserProfile UserProfile { get; set; }

}
