
<div class="tooltip-wrapper">
    <span class="tooltip-text-weight tooltip-text-@Alignment.ToLower()">@Text</span>
    <div class="m-1 question-mark-icon">
        <strong>?</strong>
    </div>
</div>

<style>
    /*  For Width 175px:
            Left Margin Tool Tip
                Set .tooltip-text margin-left -60px
                Set .tooltip-text::after margin-left -5px

            Center Margin Tool Tip
                Set .tooltip-text margin-left -90px
                Set .tooltip-text::after margin-left 25px

            Right Margin Tool Tip
                Set .tooltip-text margin-left -120px
                Set .tooltip-text::after margin-left 55px
    */

    .question-mark-icon {
        color: steelblue;
        border: 1.75px solid steelblue;
        border-radius: 50%;
        height: 1.1rem;
        width: 1.1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.8rem
    }
    .question-mark-icon:hover {
        color: white;
        background-color: steelblue;
    }
    .tooltip-wrapper {
        position: relative;
        display: inline-block;
        cursor: help;
    }

    .tooltip-text-center {
        visibility: hidden;
        position: absolute;
        width: 175px;
        bottom: 100%;
        left: 50%;
        margin-left: -90px;
        background-color: #363636;
        color: #fff;
        text-align: center;
        padding: 5px 2px;
        border-radius: 0px;
        z-index: 1;
    }

    .tooltip-text-center::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 34%;
        margin-left: 25px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    .tooltip-text-right {
        visibility: hidden;
        position: absolute;
        width: 175px;
        bottom: 100%;
        left: 50%;
        margin-left: -150px;
        background-color: #363636;
        color: #fff;
        text-align: center;
        padding: 5px 2px;
        border-radius: 0px;
        z-index: 1;
    }

    .tooltip-text-right::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 34%;
        margin-left: 85px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    .tooltip-text-left {
        visibility: hidden;
        position: absolute;
        width: 175px;
        bottom: 100%;
        left: 50%;
        margin-left: -30px;
        background-color: #363636;
        color: #fff;
        text-align: center;
        padding: 5px 2px;
        border-radius: 0px;
        z-index: 1;
    }

    .tooltip-text-left::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 34%;
        margin-left: -35px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
    }

    .tooltip-wrapper:hover .tooltip-text-@Alignment.ToLower() {
        visibility: visible;
    }

    .tooltip-text-weight {
        font-weight: normal;
    }
</style>

@code {
    [Parameter] 
    public string Text { get; set; }

    [Parameter]
    public string Alignment { get; set; } = "center";
}
