<div class="badge tag-badge-index border-square m-1">
    @Tag.Name
</div>

<style>
    .tag-badge-index {
        color: black;
        background-color: #cce4ff;
        font-weight: normal;
        font-size: small;
    }
</style>

@code {
    [Parameter]
    public Tag Tag { get; set; }
}
