/* Project CSS */
.border-square {
    border-radius: 0 !important;
}

.battery-navlink-black {
    color: black;
}

.battery-navlink-black:hover {
    color: black;
    text-decoration: none;
    outline: solid;
    outline-color: steelblue;
}

.charge-detail {
    color: black;
}

.charge-detail:hover {
    text-decoration: underline;
}

.completed {
    text-decoration: line-through;
    color: gray !important;
}

.link-black {
    color: black;
}

.link-black:hover {
    color: black;
    text-decoration: underline;
}

.transparent-input {
    border: 0;
    background: none;
}

.strong-input-text {
    color: black;
    font-size: 1.5rem;
}

.w-10ch {
    width: 10ch;
}

.w-12ch {
    width: 12ch;
}

.border-transparent {
    border-bottom: 4px solid transparent;
}

.link-no-underline:hover {
    text-decoration: none;
}

/* modal backdrop fix */
/*.modal:nth-of-type(even) {
    z-index: 1052 !important;
}*/

.modal-backdrop.show:nth-of-type(even) {
    z-index: 1051 !important;
}

.modal-child {
    z-index: 1052 !important;
}

.modal-child.modal-backdrop.show {
    z-index: 1051 !important;
}

.searched-tag {
    outline: #b3d6ff;
    outline-style: solid;
}

.min-fullscreen {
    height: 100vh;
}

.tag-badge {
    color: black;
    background-color: #cce4ff;
    font-weight: normal;
    font-size: small;
}