@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* Project CSS */
.border-square {
    border-radius: 0 !important;
}

.battery-navlink-black {
    color: black;
}

.battery-navlink-black:hover {
    color: black;
    text-decoration: none;
    border: solid;
    border-color: gold;
    /*
-webkit-box-shadow: 0px -7px 25px 0px rgba(255, 202, 50, 0.86);
-moz-box-shadow: 0px -7px 25px 0px rgba(255, 202, 50, 0.86);
box-shadow: 0px -7px 25px 0px rgba(255, 202, 50, 0.86);
*/
}

.completed {
    text-decoration: line-through;
    color: gray !important;
}

.link-black {
    color: black;
}

.link-black:hover {
    color: black;
    text-decoration: underline;
}

.transparent-input {
    border: 0;
    background: none;
}

.strong-input-text {
    color: black;
    font-size: 1.5rem;
}

.w-10ch {
    width: 10ch;
}

.border-transparent {
    border-bottom: solid transparent;
}